<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="map_name" default="itri" doc="options: nctu, itri, nuscene" />
    <arg name="vg_size" default="0.25" doc="voxel grid size" />
    <arg name="local_size" default="24" doc="local lidar data range" />
    <arg name="submap_size" default="50" doc="cropped submap size" />
    <arg name="use_rviz" default="false" />
    <!-- Version 2 added below -->
    <arg name="num_threads" default="4" />
    <arg name="num_pretest_frames" default="4" />
    <arg name="num_pretest_poses" default="200" />

    <param name="use_sim_time" value="true"/>
    <node name="solution2_node" pkg="midterm_localization_test" type="solution2_node" output="screen" >
        <param name="map_name" value="$(arg map_name)" />
        <param name="vg_size" value="$(arg vg_size)" />
        <param name="submap_size" value="$(arg submap_size)" />
        <param name="num_threads" value="$(arg num_threads)" />
        <param name="num_pretest_frames" value="$(arg num_pretest_frames)" />
        <param name="num_pretest_poses" value="$(arg num_pretest_poses)" />
    </node>

    <!-- RVIZ -->
    <group if="$(eval arg('use_rviz') == true)">
        <node pkg="rviz" type="rviz" name="rviz_node" output="screen"
            args="-d $(find midterm_localization_test)/rviz/default_setting.rviz"/>
    </group>

</launch>
